
body {
    background-color: #141414;
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url(../images/website/index-background.gif);
    background-attachment: scroll;
    background-repeat: repeat;
    background-position: 0 0;
}

.map {
    display: block;
    box-sizing: border-box;
    width: 1000px;
    height: auto;
    margin: 20px auto;
    padding: 16px;
    background-color: #252525;
    background-image: none;
    border: 1px solid #262626;
    border-radius: 0.6em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.map * {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.map .wrapper {
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 0;
    padding: 20px;
    border: 2px solid #191919;
    background-color: #333333;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#292929+0,252525+50,202020+100 */
    background: #292929; /* Old browsers */
    background: -moz-linear-gradient(top, #292929 0%, #252525 50%, #202020 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #292929 0%,#252525 50%,#202020 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #292929 0%,#252525 50%,#202020 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( originColorstr='#292929', endColorstr='#202020',GradientType=0 ); /* IE6-9 */
}
.map .wrapper .grid {
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.02);
}
.map .wrapper .grid:last-child {
    margin-top: 20px;
}
.map .wrapper .grid td {
    width: 40px;
    height: 40px;
    padding: 0;
}
.map .wrapper .cell {
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: default;
}
.map:not([data-edit=""]) .wrapper .cell {
    cursor: pointer;
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.00);
    transition: background-color 0.2s;
}
.map:not([data-edit=""]) .wrapper .cell:hover {
    cursor: pointer;
    background-color: #3f3f3f;
    background-color: rgba(255, 255, 255, 0.05);
}

.map .wrapper .grid {
    border: 1px solid transparent;
}
.map .wrapper .grid td .cell:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.map .wrapper .grid,
.map .wrapper .grid td .cell:before {
    border-color: #292929;
}
.map:not([data-edit=""]) .wrapper .grid,
.map:not([data-edit=""]) .wrapper .grid td .cell:before {
    border-color: #202020;
}

.map .wrapper .grid.canvas,
.map .wrapper .grid.canvas td .cell:before {
    border-color: rgba(0, 118, 175, 0.15);
}
.map:not([data-edit=""]) .wrapper .grid.canvas,
.map:not([data-edit=""]) .wrapper .grid.canvas td .cell:before {
    border-color: rgba(0, 118, 175, 0.25);
}


.map .wrapper .grid.pallet td .cell.active:before {
    border-color: rgba(255, 255, 255, 0.75);
}

.map .wrapper .grid.pallet {
    display: none;
}
.map[data-edit=""] .wrapper .grid.pallet.none,
.map[data-edit="paths"] .wrapper .grid.pallet.paths,
.map[data-edit="events"] .wrapper .grid.pallet.events,
.map[data-edit="fields"] .wrapper .grid.pallet.fields,
.map[data-edit="test"] .wrapper .grid.pallet.test {
    display: table;
}


.map .wrapper .cell .sprite {
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: none;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.map .wrapper .cell .path,
.map .wrapper .cell .event,
.map .wrapper .cell .field {

}
.map .wrapper .cell .field {
    background-size: 40px 40px;
}

.map .wrapper .grid.canvas .cell .path {
    background-color: rgba(255, 255, 255, 0.05);
}
.map[data-view="all"] .wrapper .grid.canvas .cell .path {
    background-color: transparent;
}
.map .wrapper .cell .event {

}
.map .wrapper .cell .field {

}

.map .wrapper .cell .event:after {
    content: "";
    display: block;
    position: relative;
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: none;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.map .wrapper .cell .event.origin:after,
.map .wrapper .cell .event.destination:after {
    background-position: -40px 0;
}
.map .wrapper .cell .event.battle-mecha:after,
.map .wrapper .cell .event.battle-special-mecha:after {
    background-position: -40px 0;
}
.map .wrapper .cell .event.battle-master:after,
.map .wrapper .cell .event.battle-special-master:after {
    background-position: -80px 0;
}
.map .wrapper .cell .event.battle-boss:after,
.map .wrapper .cell .event.battle-special-boss:after {
    background-position: -120px 0;
}

.map .wrapper .cell .field.origin { display: none; }
.map .wrapper .cell .field.destination { display: none; }

.map .wrapper .cell .field.battle-mecha,
.map .wrapper .cell .field.battle-special-mecha { width: 18px; height: 18px; top: 11px; left: 11px; }
.map .wrapper .cell .field.battle-master,
.map .wrapper .cell .field.battle-special-master { width: 26px; height: 26px; top: 7px; left: 7px; }
.map .wrapper .cell .field.battle-boss,
.map .wrapper .cell .field.battle-special-boss { width: 32px; height: 32px; top: 4px; left: 4px; }

.map .wrapper .grid.pallet.fields .cell .field {
    border: 2px solid white;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.map .wrapper .cell .event.origin:after,
.map .wrapper .cell .event.destination:after,
.map .wrapper .cell .event.progress-gate-10:after,
.map .wrapper .cell .event.progress-gate-20:after,
.map .wrapper .cell .event.progress-gate-30:after,
.map .wrapper .cell .event.progress-gate-40:after,
.map .wrapper .cell .event.progress-gate-60:after,
.map .wrapper .cell .event.progress-gate-80:after,
.map .wrapper .cell .event.progress-gate-100:after {
    display: none;
}

body.loading .map[data-view] .wrapper .cell .path,
body.loading .map[data-view] .wrapper .cell .field,
body.loading .map[data-view] .wrapper .cell .event,
.map[data-view].loading .wrapper .cell .path,
.map[data-view].loading .wrapper .cell .field,
.map[data-view].loading .wrapper .cell .event {
    opacity: 0 !important;
}

.map[data-view="test"] .wrapper .cell.locked {
    pointer-events: none;
    cursor: default;
}
.map[data-view="test"] .wrapper .cell .field,
.map[data-view="test"] .wrapper .cell .event {
    opacity: 1;
    filter: brightness(1.0);
    transition: opacity 1s, filter 1s, background-image 1s;
}
.map[data-view="test"] .wrapper .cell.locked .path,
.map[data-view="test"] .wrapper .cell.locked .field,
.map[data-view="test"] .wrapper .cell.locked .event {
    opacity: 0;
}
.map[data-view="test"] .wrapper .cell.locked .event.origin,
.map[data-view="test"] .wrapper .cell.locked .event.destination {
    opacity: 1;
}
.map[data-view="test"] .wrapper .cell.completed .field {
    filter: brightness(0.5) saturate(0);
}
.map[data-view="test"] .wrapper .cell.completed:hover .field {
    filter: brightness(0.75);
}
/*
.map[data-view="test"] .wrapper .cell.completed .field,
.map[data-view="test"] .wrapper .cell.completed .event {
    filter: brightness(0.8);
}
*/
.map[data-view="test"] .wrapper .cell.completed .event.origin,
.map[data-view="test"] .wrapper .cell.completed .event.destination {
    filter: brightness(1.0);
}
.map[data-view="test"] .wrapper .grid.canvas .cell .path {
    transition: background-color 1s;
}
.map[data-view="test"] .wrapper .grid.canvas .cell.locked .path,
.map[data-view="test"] .wrapper .grid.canvas .cell.completed .path {
    background-color: rgba(255, 255, 255, 0.00);
}

.map[data-view="test"] .wrapper .cell.allowed:not(.completed) .path {
    background-color: rgba(255, 255, 255, 0.20);
    background-image: url(../images/transparent.png);
    /* animation: pulseBrightnessA 2s infinite; */
}
@keyframes pulseBrightnessA {
    0% { background-color: rgba(255, 255, 255, 0.05); }
    50% { background-color: rgba(255, 255, 255, 0.10); }
    100% { background-color: rgba(255, 255, 255, 0.05); }
}
/*
.map[data-view="test"] .wrapper .cell.allowed:not(.completed) .field {
    filter: brightness(1);
    animation: pulseBrightnessA 3s infinite;
}
@keyframes pulseBrightnessA {
    0% { filter: brightness(1); }
    50% { filter: brightness(1.5); }
    100% { filter: brightness(1); }
}
.map[data-view="test"] .wrapper tr:nth-child(even) td:nth-child(even) .cell.allowed:not(.completed) .field,
.map[data-view="test"] .wrapper tr:nth-child(odd) td:nth-child(odd) .cell.allowed:not(.completed) .field {
    filter: brightness(2);
    animation: pulseBrightnessB 2s infinite;
}
@keyframes pulseBrightnessB {
    0% { filter: brightness(2); }
    50% { filter: brightness(1); }
    100% { filter: brightness(2); }
}
*/

.map[data-view="paths"] .wrapper .cell .event,
.map[data-view="paths"] .wrapper .cell .field,
.map[data-view="events"] .wrapper .cell .path,
.map[data-view="fields"] .wrapper .cell .path {
    pointer-events: none;
    opacity: 0.25;
}

.map .wrapper .grid td.stat {
    color: #dedede;
    font-size: 80%;
    font-family: "Courier New", sans-serif;
    border-top: 1px solid #202020;
}
.map .wrapper .grid tr:first-child td.stat {
    border-top: none;
}
.map .wrapper .grid td.stat label {
    font-weight: normal;
    color: #999999;
}
.map .wrapper .grid td.stat strong {
    font-weight: bold;
    color: #efefef;
}
.map .wrapper .grid td.label {
    background-color: #303030;
}
.map .wrapper .grid tr.cell-stats td {
    font-size: 70%;
    line-height: 1.6;
    height: auto;
    padding: 6px;
}
.map .wrapper .grid tr.cell-stats td.stat strong {
    color: #c2c2c2;
}
.map .wrapper .grid tr.test-progress td.stat.percent {
    background-color: #3d3d3d;
}
.map .wrapper .grid tr.test-progress td.stat.percent label {
    font-weight: bold;
    color: #88c1e7;
}


.controls {
    display: block;
    max-width: 1000px;
    margin: 20px auto 0;
    padding: 0 60px;
    text-align: center;
}
.controls:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.controls .views,
.controls .shift {
    opacity: 1;
    transition: opacity 0.3s;
}
body.loading .controls .views,
body.loading .controls .shift {
    pointer-events: none;
    opacity: 0;
}
.controls .views.hidden,
.controls .shift.hidden {
    display: none;
}
.controls .views {
    float: left;
    text-align: left;
}
.controls .shift {
    float: right;
    text-align: right;
}
.controls .views .label,
.controls .shift .label {
    display: inline-block;
    border: 1px solid #101010;
    background-color: #101010;
    border-radius: 3px;
    margin: 0;
    padding: 6px 9px;
    color: #969696;
    text-align: left;
    font-size: 12px;
    line-height: 1;
}
.controls .views .button,
.controls .shift .button {
    display: inline-block;
    border: 1px solid #262626;
    background-color: #1a1a1a;
    border-radius: 3px;
    margin: 0 0 0 5px;
    padding: 6px 9px;
    color: #696969;
    text-align: center;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
}
.controls .views .button:hover,
.controls .views .button.active,
.controls .shift .button:hover {
  color: #DEDEDE;
}
.controls .views .button {
    min-width: 75px;
    margin-right: 5px;
}
.controls .shift .button {
    margin-left: 5px;
}
.controls .views .button.disabled {
    opacity: 0.3;
    pointer-events: none;
    text-decoration: line-through;
}
.controls .views .button.hidden,
.controls .shift .button.hidden {
    display: none;
}

.controls .views[data-view="test"] {
    width: 100%;
    text-align: center;
}
.controls .views[data-view="test"] .button:not([data-view="test"]) {
    display: none;
}

.tools {
    display: block;
    max-width: 1000px;
    margin: 20px auto 0;
    padding: 0 60px 10px;
}
.tools:after {
    content: "";
    display: block;
    clear: both;
}
.tools .export {
    display: block;
    box-sizing: border-box;
    margin: 0 auto 10px;
    border: 1px solid #262626;
    background-color: #1a1a1a;
    padding: 6px;
    color: #CACACA;
    font-family: "Courier New";
}
.tools textarea.export {
    width: 100%;
}
.tools button.export {
    float: right;
    clear: left;
}
.tools.hidden {
    display: none;
}

.version {
    display: block;
    max-width: 1000px;
    margin: 0 auto 0;
    padding: 0 60px 30px;
    color: #636363;
    font-size: 12px;
    text-align: center;
}

